{% extends 'inventory/base.html' %} {% load static %} 

{% block head %} 
{% endblock %}

{% block content %}
<h1>Home</h1>

<ul>
  <li>
    <a href="{% url 'ingredient-list' %}">Ingredients</a>
  </li>
  <li>
    <a href="{% url 'menu-list' %}">Menu</a>
  </li>
  <li>
    <a href="{% url 'purchase-list' %}">Purchase</a>
  </li>
  <li>
    <a href="{% url 'stats' %}">Stats</a>
  </li>
  <li>
    <a href="{% url 'reciperequirement-add' %}">Add Recipe Requirement</a>
  </li>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
</ul>

{% endblock %}
